.layout-base__header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 4;
}

.layout-base__main {
  padding-top: 70px;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
